@using Entitron;
@model IEnumerable<DBApp>
@{
    ViewBag.Title = "FSPOC 2.0";
}

<h2>Apps</h2>
<ul>
    @foreach(DBApp app in Model)
    {
        <li>@Html.ActionLink(app.DisplayName, "Index", "DBManager", new { @appName = app.Name }, null)</li>
    }
</ul>

@Html.ActionLink("Create new Application", "Create")