@using System.Web.DynamicData
@model Entitron.DBTable
@{
    ViewBag.Title = "AddCheck";
 }

<h2>AddCheck</h2>
@using (Html.BeginForm("AddCheck", "DBManager", new { @appName = Model.Application, @tableName = Model.tableName }, FormMethod.Post, null))
{
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="control-label">Column</label>
        </div>
        <div class="col-sm-3">
            @Html.DropDownList("column", new SelectList(ViewBag.Column))
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="control-label">Condition Operator</label>
        </div>
        <div class="col-sm-3">
            @Html.DropDownList("conOperator", new SelectList(ViewBag.Operators))
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="control-label">Value</label>
        </div>
        <div class="col-sm-3">
            @Html.TextBox("value")
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Check</button>
    @Html.ActionLink("Back", "Index", new { @appName = Model.Application.Name })
}
