@using DynamicDB;
@model DBTable
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table>
    <tr>
        <th>Name</th>
        <td>@Model.tableName</td>
    </tr>
    @foreach(DBColumn column in Model.getColumnList())
    {
        <tr>
            <th>Column</th>
            <td>@column.Name</td>
        </tr>
    }
</table>

@Html.ActionLink("back", "Index", new { @appName = Request["appName"] })