@using FSPOC2.Models;
@model DBItems_Metadata_tables
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table>
    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Columns:</th>
        <td>@string.Join(", ", Model.DBItems_Metadata_columns.Select(c => c.Name))</td>
        <td>@Html.ActionLink("Add new", "AddColumn", new { @id = Model.Id })</td>
    </tr>
</table>

@Html.ActionLink("back", "Index")