@model Entitron.DBTable
@{
    ViewBag.Title = "DropUnique";
}

<h2>DropUnique</h2>
@using (Html.BeginForm("DropConstraint", "DBManager", new { @appName = Model.Application.Name, @tableName = Model.tableName }, FormMethod.Post, null))
{
    <table class="table table-bordered" id="mytable">
        <thead>
            <tr>
                <th>Název indexu</th>
                <td>@Html.DropDownList("constraintName", new SelectList(ViewBag.Unique))</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <button type="submit">Drop Unique</button>
    @Html.ActionLink("Back", "Index", new { @appName = Model.Application.Name })
}