@model Entitron.DBTable
@{
    ViewBag.Title = "DropDefault";
}

<h2>DropDefault</h2>
@using (Html.BeginForm("DropConstraint", "DBManager", new { @appName = Model.Application.Name, @tableName = Model.tableName }, FormMethod.Post, null))
{
    <table class="table table-bordered" id="mytable">
        <thead>
        <tr>
            <th>Column</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td id="ColumnTemplate">@Html.DropDownList("constraintName", new SelectList(ViewBag.Defaults))</td>            
        </tr>
        </tbody>
    </table>
    <button type="submit">Drop Default</button>
    @Html.ActionLink("Back", "Index", new { @appName = Model.Application.Name })
}


