@model Entitron.DBTable
@{
    ViewBag.Title = "DropIndex";
}

<h2>DropIndex</h2>
@using (Html.BeginForm("DeleteIndex", "DBManager", new { @appName = Model.Application.Name, @tableName = Model.tableName }, FormMethod.Post, null))
{
    <table class="table table-bordered" id="mytable">
        <thead>
            <tr>
                <th>Název indexu</th>
                <td>@Html.DropDownList("indexName", new SelectList(ViewBag.indeces, "Name"))</td>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
    <button type="submit">Drop Index</button>
    @Html.ActionLink("Back", "Index", new { @appName = Model.Application.Name })
}


