@using DynamicDB
@model List<DBTable>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    @foreach (DBTable item in Model)
    {
        <tr>
            <td>@Html.ActionLink(item.tableName, "Data", new { @appName = Request["appName"], @id = item.tableName })</td>
            <td>@Html.ActionLink("Manage", "Details", new {@appName = Request["appName"], @id = item.tableName})</td>
            <td>@Html.ActionLink("Drop", "DropTable", new { @appName = Request["appName"], @id = item.tableName })</td>
        </tr>
    }
</table>

@Html.ActionLink("Create new", "Create", new { @appName = Request["appName"] })

