@using Entitron
@model Entitron.DBTable
@{
    ViewBag.Title = "UpdateView";

    List<object> values = new List<object>();
    
    foreach (object s in ViewBag.Row)
    {
        values.Add(s);
    }
}

<h2>UpdateView</h2>
@using (Html.BeginForm("UpdateRow", "DBManager", new { @appName = Model.AppName, @tableName = Model.tableName}, FormMethod.Post, null))
{
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                @foreach (DBColumn c1 in Model.columns)
                {
                    <th>@c1.Name (@c1.type [@c1.maxLength])</th>
                }
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            @for (int i = 0; i < Model.columns.Count; i++)
            {
                <td>
                    @Html.TextBox("col" + Model.columns[i].Name, values[i])
                </td>
            }
            <td>
                <button type="submit" class="btn-success btn">Confirm</button>
            </td>
        </tr>
        </tbody>
    </table>
}